container_commands:
#  01_node_install:
#    cwd: /tmp
#    test: '[ ! -f /usr/bin/node ] && echo "node not installed"'
#    command: 'yum install -y nodejs --enablerepo=epel'
#  02_npm_install:
#    cwd: /tmp
#    test: '[ ! -f /usr/bin/npm ] && echo "npm not installed"'
#    command: 'curl -L http://npmjs.org/install.sh | sh'
#  03_node_update:
#    cwd: /tmp
#    test: '[ ! -f /usr/bin/n ] && echo "node not updated"'
#    command: 'npm install -g n && n stable'
  01express:
    command: "echo AWS Container Commands started, starting Composer install."
  02installComposer:
    command: "export COMPOSER_HOME=/root && php /opt/elasticbeanstalk/support/composer.phar install --no-dev"
    cwd: "/var/app/ondeck"
  03express:
    command: "echo Composer install completed, starting Laravel migration"
#  04rebuildjs:
#    command: "npm run production"
#    cwd: "/var/app/ondeck"
#    leader_only: true
#  04migrations:
#    command: "php artisan migrate --force"
#    cwd: "/var/app/ondeck"
#    leader_only: true
  04storage:
    command: "php artisan storage:link"
    cwd: "/var/app/ondeck"
    leader_only: true
  05express:
    command: "echo Completed Laravel migration, starting Laravel database seeding"
#  06seeds:
#    command: "php artisan db:seed --class=ControlCsvTableSeeder --force"
#    cwd: "/var/app/ondeck"
#    leader_only: true
  07express:
    command: "echo Completed database seeting, Container Commands complete."

